@import "normalize";

* {
	box-sizing: border-box;
}

// no need of css colors
// $colors: (header1: #00BCD4, header2: red, header3: purple, header4: black, header5: pink);

// @each $class, $color in $colors {
//   .#{$class} {
//     background: $color;
//   }
// }

body {
	margin: 0;
	padding: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	line-height: 1.3;
}

h1, 
h2, 
h3,
strong {
	font-weight: 600;
}

a {
	text-decoration: none;
	color: #447294;
	&:hover {
		text-decoration: underline;
	}
}

.code {
	font-family: monospace, monospace;

}

header {
	display: flex;
	justify-content: space-between;
	height: 540px;
	background: #00BCD4;
	color: #fff;
	overflow: hidden;
	transform: translateZ(0);
	transition: background 0.3s ease-in-out;
	.logo {
		position: relative;
		padding: 15px;
		z-index: 99;
	}
	.animate-bg {
		position: absolute;
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		border-radius: 100%;
		opacity: 0;
		background: #fff;
		transform-origin: 0 0;
		animation-name: materialAnimation;
	    animation-duration: 0.5s;
	    animation-timing-function: ease-in-out;//cubic-bezier(0.7, 0.4, 0.4, 0.8);
	    animation-iteration-count: 1;
	    animation-fill-mode: forwards;
		transform: translate3d(-50%, -50%, 0);
		transition: background 0.5s linear;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
	}
	a {
		position: relative;
		height: 50px;
		width: 50px;
		line-height: 50px;
		text-align: center;
		display: block;
		color: #fff;
		text-decoration: none;
		z-index: 10;
		transform: translate3d(0,0,10px);
	}
}

.content {
	margin-top: -70px;
	background: #f5f5f5;
	overflow: hidden;
	z-index: 10;
}
.card {
	margin: 0 auto 70px;
	padding: 15px;
	width: 1200px;
	max-width: 80%;
	background: #fff none repeat scroll 0% 0%;
	box-shadow: 0px 1px 2px #aaa;
	border-radius: 3px;
	-moz-user-select: none;
	transform-origin: left top 0px;
	transform: translateY(15rem) rotate(15deg);
	opacity: 0;
	animation: 0.5s ease 1s normal both 1 running fly-in-from-left;
	.out & {
		transform-origin: right top 0px;
		animation-name: fly-out-to-right;
		animation-delay: 0;
	}
}

// animation
@keyframes materialAnimation {
	0% {
		opacity: 0;
		transform: scale(0) translate3d(-50%, -50%, 0);
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 0;
		transform: scale(3) translate3d(-50%, -50%, 0);
	}
}
@keyframes fly-in-from-left {
  from {
    transform:translateY(100%) rotate(15deg);
    opacity:0;
  }
  to {
  	transform:translateY(0) rotate(0);
    opacity:1;
  }
}
@keyframes fly-out-to-right {
  from {
  	transform:translateY(0) rotate(0);
    opacity:1;
  }
  to {
    transform:translateY(100%) rotate(-15deg);
    opacity:0;
  }
}