body {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
header {
	display: flex;
	justify-content: space-between;
	height: 540px;
	background: #00BCD4;
	color: #fff;
	overflow: hidden;
	.animate-bg {
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(red, .3);
		transform: scale(0);
		width: 100%;
		height: 100%;
		position: absolute;
		border-radius: 100%;
		transition: transform 10s linear;
	}
	&.clicked .animate-bg {
		transform: scale(1);
	}
}
nav {
	li {
		display: inline-block;
	}
	a {
		position: relative;
		height: 50px;
		width: 50px;
		line-height: 50px;
		text-align: center;
		display: block;
		color: #fff;
		text-decoration: none;
		z-index: 10;
		transform: translate3d(0,0,10px);
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(red, .3);
			transform: scale(0);
			border-radius: 100%;
			z-index: -1;
			transition: transform 1s linear;
		}
		&.clicked {
			z-index: 0;
			&:before {
				transform: scale(100);

			}
		}
	}
}
