body {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
header {
	display: flex;
	justify-content: space-between;
	height: 540px;
	background: #00BCD4;
	color: #fff;
	overflow: hidden;
	.animate-bg {
		position: fixed;
		background: red;
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		border-radius: 100%;
		opacity: 0;
		transform-origin: 0 0;
		animation-name: materialAnimation;
	    animation-duration: 1s;
	    animation-timing-function: linear;
	    // animation-delay: 1s;
	    animation-iteration-count: infinite;
	    animation-direction: alternate;
		transform: translate3d(-50%, -50%, 0);
		// transition: transform 1s linear, opacity 1s linear;
	}
}
@keyframes materialAnimation {
	0% {
		opacity: 0;
		transform: scale(0) translate3d(-50%, -50%, 0);
	}
	100% {
		opacity: 1;
		transform: scale(2) translate3d(-50%, -50%, 0);
	}
}
nav {
	li {
		display: inline-block;
	}
	a {
		position: relative;
		height: 50px;
		width: 50px;
		line-height: 50px;
		text-align: center;
		display: block;
		color: #fff;
		text-decoration: none;
		z-index: 10;
		transform: translate3d(0,0,10px);
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(red, .3);
			transform: scale(0);
			border-radius: 100%;
			z-index: -1;
			transition: transform 1s linear;
		}
		&.clicked {
			z-index: 0;
			&:before {
				transform: scale(100);

			}
		}
	}
}
